<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" [routerLink]="['/']">MSN Demo App</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ng-container *ngIf="!authService.isLoggedIn">
                <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </ng-container>
            <ng-container *ngIf="authService.isLoggedIn">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/members']">Members</a></li>
                    <li><a [routerLink]="['/tournaments']">Tournaments</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </ng-container>
        </div>
    </div>
</nav>
<div class='container-fluid center_div'>
    <router-outlet></router-outlet>
</div>