<h1>Member Details : </h1>

<ul *ngIf= "member" >
    <li><label >Pseudo :  </label> {{member.pseudo}}</li>
    <li> <label>Profil : </label>{{member.profile}}</li>
    <li><label>Password : </label> {{member.password==""?"undifind" : member.password}}</li>
    
</ul>