<h1>Tournaments details</h1>

<ul *ngIf="tournament">
    <li ><label>Name:</label> {{tournament.name}}</li>
    <li> <label>Start:</label> {{tournament.start == null ? "undefined" : tournament.start | date:'shortDate'}}</li>
    <li><label>Finish:</label> {{tournament.finish == null ? "undefined" : tournament.finish  | date:'shortDate'}}</li> 
    <li><label>MaxPlayers:</label> {{tournament.maxPlayers}}</li> 
</ul>
<div *ngIf="!tournament" >unknown tournament!</div>
